.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 100px);

  .cart {
    display: flex;
    flex-direction: column;
    gap: 40px 0;
    width: 50%;



    .cart-title {
      display: flex;
      gap: 0px 10px;
      align-items: center;

      div {
        font-size: 20px;
      }

      &-wrapper {
        display: flex;
        justify-content: space-between;

        .delete-trash {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 7px;
        }
      }

    }

    .total {
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      div{
        span {
          font-weight: bold;
        }
      }
    }

    .nav-buttons {
      display: flex;
      justify-content: space-between;

      .button-back {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
        min-width: 220px;
        background: #FFFFFF;
        border: 1px solid #D3D3D3;
        border-radius: 30px;
      }

      .button-pay {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 220px;
        background: #fff4f4;
        border: 1px solid #D3D3D3;
        border-radius: 30px;
      }
    }
  }




}