


.cart-item {
  position: relative;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-top: 1px solid  #F4F4F4;;

  .title {
    gap: 0px 10px;
    justify-content: center;
    align-items: center;
    display: flex;

    img {
      transition: all 4s 0s ease;


      &:hover {
        -webkit-transform: rotateX(-1deg) rotateY(1deg) rotateZ(360deg);
        -moz-transform: rotateX(-1deg) rotateY(1deg) rotateZ(360deg);
        -ms-transform: rotateX(-1deg) rotateY(1deg) rotateZ(360deg);
        -o-transform: rotateX(-1deg) rotateY(1deg) rotateZ(360deg);
        transform:  rotateX(-1deg) rotateY(1deg) rotateZ(360deg);
      }

    }



    div:first-child {
      font-weight: bold;
      font-size: 18px;
    }
  }


  .quantity {
    position: absolute;
    left: 450px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    cursor: pointer;
    moz-user-select: none; -khtml-user-select: none; user-select: none;

    img:hover {
      -webkit-transform: translateX(0px) scale(1.2);
      -moz-transform: translateX(0px) scale(1.2);
      -ms-transform: translateX(0px) scale(1.2);
      -o-transform: translateX(0px) scale(1.2);
      transform:  translateX(0px) scale(1.2);
    }


  }

  .price {
    position: absolute;
    left: 710px;
    font-weight: bold;
  }

  .close {
    cursor: pointer;

    &:hover {
      -webkit-transform: translateX(0px) scale(0.9);
      -moz-transform: translateX(0px) scale(0.9);
      -ms-transform: translateX(0px) scale(0.9);
      -o-transform: translateX(0px) scale(0.9);
      transform:  translateX(0px) scale(0.9);
    }
  }


}