.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  .logo-wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .title-wrapper {
      display: flex;
      flex-direction: column;


      .name {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: bold;
      }

      .content {
        color: #7B7B7B;
      }

    }
  }

  .cart-button {
    position: relative;
    cursor: pointer;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    display: flex;
    align-items: center;
    border-radius: 20px;
    min-width: 150px;
    padding: 0 25px;
    height: 50px;
    background-color: #ff594d;
    color: #ffffff;

    &-totalPrice {
      display: flex;
      gap: 0 10px;
    }

    &-totalPrice-icon {
      position: absolute;
      left: 80px;
    }

    &:hover {
      transform: translateY(12px);
    }

    .cart-icon {
      position: absolute;
      top: 13px;
      right: 22px;
      width: 20px;
    }
  }

}